.full-info{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.display-card{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cost h2{
    font-size: 22px;
    margin-top: 40px;
}